/* Adicione este estilo ao seu arquivo CSS ou componente de estilo */

/* Remova a margem superior e inferior da tabela */
.MuiTableCell-root,
.MuiTableRow-root {
  margin: 0;
  padding: 0
}

/* Ajuste a margem da célula do ícone para centralizar verticalmente */
.MuiIconButton-root {
  margin: 10px 0px 10px 0px
}

/* Ajuste a margem da célula de conteúdo colapsável */
.MuiCollapse-container {
  margin: 0;
}
